{
  "trailingComma": "none",
  "overrides": [
    {
      "files": "**/typical.lwc/**/*.html",
      "options": { "parser": "typical.lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
